 
.NavContainer  .navbar-toggler
{
    color:black; 
    border:none;
}
.NavContainer .navbar-brand img{
    max-width: 150px;
}
.NavContainer .navbar-dark
{
    background: linear-gradient(to right,#43cae9, #38f9d7 100%)
}

.NavContainer .navbar-nav li{ 
   padding: 11px 16px;
 }
.NavContainer .navbar-nav li a{
color:#fff;
font-weight: 700;
text-transform: uppercase;
font-size: 16px;
}



@media (min-width: 1200px)
{
.NavContainer .container {
    max-width: 1140px;
}
}

 
@media (max-width: 991px)
 {
    .NavContainer .navSetting
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(to right,#43cae9, #38f9d7 100%);
        z-index: 8;
        padding: 10px 16px;
        -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
        -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }
 }

 .NavContainer .icon-rotate {
    animation: mymove 5s ;
  
  }
  
  @keyframes mymove {
    10% {transform: rotate(90deg);}
  }