.portfolio 
{
    padding-top: 90px;
    padding-bottom: 100px;
}
 
.portfolio ul li{
    color: #38f9d7;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    /* padding: 0 30px; */
    z-index: 5;
    position: relative;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    margin: 0 2px;
    color: #6c6c6c;
}

.portfolio ul li:hover{
    color: #38f9d7;
}
.portfolio ul li.active{
    color: #38f9d7;
}

.portfolio .card{
    padding-top: 35px;
    border:none
}
.portfolio .card .card-img-top
{
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}

.portfolio .card-body{
    padding-left: 0;
}
.portfolio .card-body p{
    font-size: 14px;
}
@media (max-width: 991px) {
    .portfolio .custom-image {
        max-width: 100%;
        height: auto;
    }

    .portfolio .custom-container h4 {
        font-size: 25px;
        text-transform: uppercase;
    }

    .portfolio  .custom-container p {
        font-size: 16px;
    }
}