.portfolio 
{
    padding-top: 90px;
    padding-bottom: 100px;
}
 
.portfolio ul li{
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    /* z-index: 5; */
    position: relative;
    transition: all 0.5s ease-out 0s;
    cursor: pointer;
    margin: 0 2px;
    color: #6c6c6c;
    text-transform: uppercase;
}
.portfolio ul li::before
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: -webkit-linear-gradient(left, #43cae9 0%, #38f9d7 100%);
    background: -o-linear-gradient(left, #43cae9 0%, #38f9d7 100%);
    background: linear-gradient(to right, #43cae9 0%, #38f9d7 100%);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 4px;
}

.portfolio ul li.active{
    color: #38f9d7;
    border-bottom: 4px solid;
}
.portfolio ul li:hover{
    color: #38f9d7;
    border-bottom: 4px solid;
    transition: all 0.3s ease-out 0s;
}


.portfolio .card{
    padding-top: 30px;
    border:none
}
.portfolio .card .card-img-top
{
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}

.portfolio .card-body{
    padding-left: 0;
}
.portfolio .card-body p{
    font-size: 14px;
}
@media (max-width: 991px) {
    .portfolio .custom-image {
        max-width: 100%;
        height: auto;
    }

    .portfolio .custom-container h4 {
        font-size: 25px;
        text-transform: uppercase;
    }

    .portfolio  .custom-container p {
        font-size: 16px;
    }
}