.portfolio 
{
    padding-top: 90px;
    padding-bottom: 100px;
}
.portfolio ul li{
    cursor: pointer;
}

.portfolio ul li.active{
    color: #38f9d7;
}

.portfolio .card{
    padding-top: 35px;
    border:none
}
.portfolio .card .card-img-top
{
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;

}

.portfolio .card-body{
    padding-left: 0;
}
@media (max-width: 991px) {
    .portfolio .custom-image {
        max-width: 100%;
        height: auto;
    }

    .portfolio .custom-container h4 {
        font-size: 25px;
        text-transform: uppercase;
    }

    .portfolio  .custom-container p {
        font-size: 16px;
    }
}