.services{
    padding-t;
}
.services h4{
    font-size: 44px;
    text-transform: uppercase;
   
}
.services p{
    font-size: 20px;
}
.services .custom-image
{
max-width: 34%;
height: auto;
}
.services .custom-container
{
    max-width: 600px;   
}
.services .card{
    border: none;
}
@media (max-width: 991px)
 {
    .services .custom-image
    {
    max-width: 100%;
    height: auto;
    }
    .services h4{
        font-size: 25px;
       text-transform: uppercase;
    }
    .services p{
        font-size: 16px;
     }
 }