.sliderContainer .carousel-inner .bg-cover{
     height: 90vh;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}
.sliderContainer .slide-image1{
    background-image: url("/public/Images/slider-1.jpg");
}
.sliderContainer .slide-image2{
    background-image: url("/public/Images/slider-2.jpg");
}
.sliderContainer .slide-image3{
    background-image: url("/public/Images/slider-3.jpg");
}
  
.sliderContainer .carousel-caption
{

    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    top: 23vh;

}
.sliderContainer .carousel-caption p{
    font-size: 44px 
}
.sliderContainer .btn1{

    margin: 10px;
    background: linear-gradient(to right,#43cae9, #38f9d7 100%);
    padding: 7px 30px 7px 30px;
    font-weight: bold;
    color: white;
    font-size: 17px;
    border-radius: 29px;
    text-transform: uppercase;

}

.sliderContainer .btn2{
    margin: 10px;
    background:  transparent;
    padding: 7px 25px 7px 25px;
    font-weight: bold;
    color: white;
    font-size: 17px;
    border-radius: 29px;
    border: 2px solid white;
    text-transform: uppercase;

}
.sliderContainer .carousel-indicators{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    background: #38f9d7;
    padding: 10px;
}
@media (max-width: 991px)
 {
    .sliderContainer .carousel-inner .bg-cover
    {
        height: 350px;
    }  

   .sliderContainer .carousel-caption
   {
       font-size: 25px ;
       top: 11vh;
       font-weight: bolder;
   }
   .sliderContainer .carousel-caption p{
    font-size: 20px 
}
   .sliderContainer .btn
   {
    font-size: 15px;   
    }
   .sliderContainer .btn
   {
    font-size: 15px;   
    }

    .sliderContainer .carousel-indicators{
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        background: transparent;
         
    }
 }