.sliderContainer .carousel-inner .bg-cover1{
     height: 700vh;
     background-color: red;
}
  
@media (max-width: 991px)
 {
    .sliderContainer .carousel-inner .bg-cover1{
        height: 50vh;
        background-color: red;
   }  
 }