.sliderContainer .carousel-inner .bg-cover1{
     height: 700px;
     background-color: red;
}
  
\
@media (max-width: 991px)
 {
    .NavContainer .navSetting
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(to right,#43cae9, #38f9d7 100%);
        z-index: 8;
        padding: 10px 16px;
        -webkit-box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
        -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    }
 }