.sliderContainer .carousel-inner .bg-cover1{
     height: 90vh;
     background-color: red;
     background-image: url("/public/Images/");
}
  
@media (max-width: 991px)
 {
    .sliderContainer .carousel-inner .bg-cover1{
        height: 50vh;
        background-color: red;
   }  
 }