.sliderContainer .carousel-inner .bg-cover1{
     height: 90vh;
     background-image: url("/public/Images/slider-2.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
}
  
@media (max-width: 991px)
 {
    .sliderContainer .carousel-inner .bg-cover1{
        height: 50vh;
        background-image: url("/public/Images/slider-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
   }  
 }