.custom-container {
    max-width: 600px !important;
    margin-top: 30px;
    padding-bottom: 40px;
}

  h4 {
    font-size: 44px !important;
    text-transform: uppercase;

}

    p {
    font-size: 20px;
}
@media (max-width: 991px) {
    .custom-container  h4 {
        font-size: 25px;
        text-transform: uppercase;
    }

    .custom-container  p {
        font-size: 16px;
    }
}