.initial {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn1 {

    margin: 10px !important;
    background: linear-gradient(to right, #43cae9, #38f9d7 100%);
    padding: 7px 30px 7px 30px !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 17px !important;
    border-radius: 29px !important;
    text-transform: uppercase !important;
 
}

.btn1:hover {
     background: linear-gradient(to right, #38f9d7, #43cae9 100%);
     transition: 2s;;
}

/* box-shadow: 0px 0px 10px;
padding: 4px;
background: #8e8e8e; */
.card {
    border: none !important;
}

.custom-container {
    max-width: 600px !important;
    margin-top: 30px;
    padding-bottom: 40px;
}

.restyle {
    list-style: none;
}

.gray {
    color: #6c6c6c;
}