.subscribe .btn1 {
    margin: 0px !important;
}

.subscribe .border {
    border: 2px solid rgb(163, 162, 162) !important;
    border-radius: 30px;
    padding: 6px;

}

@media (max-width: 400px) {
    .subscribe input::placeholder {

        color: rgb(151, 151, 151);
        font-size: 16px;
    }
}