.testimonial {
    background-color: #f4f6f7;
}

.testimonial .set-padding
{
    padding: 10px !important;
}
.testimonial .custom-container h4 {
    font-size: 44px;
    text-transform: uppercase;
}
.testimonial .card img {
    width: 90px;
    border-radius: 50px;
}

.testimonial .card span {
    color: rgb(122, 122, 122);
    font-weight: 400;
}
@media (max-width: 991px) {

    .testimonial .custom-container h4 {
        font-size: 25px;
        text-transform: uppercase;
    }
    .testimonial .set-responsive
    {
        max-width: 90%;
    }
}